@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #3f3f3f;
}

.dark {
  --background: #3f3f3f;
  --foreground: #fafafa;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, sans-serif;
  font-weight: 600;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 4%;
  margin-right: 4%;
  align-items: center
}

html {
  scroll-behavior: smooth;
}


.interactable-object {
  @apply object-cover rounded-[10px] shadow-[0px_5px_5px_rgba(0,0,0,0.3)] transition-all duration-200 outline-[0px] outline-[#5ef6f600];
  outline-style: solid;
}

.interactable-object:hover {
  @apply outline-[8px] animate-[pulse-outline_0.75s_infinite_alternate_linear];
  animation: pulse-outline 0.75s infinite alternate linear;
}


@keyframes pulse-outline {
    0% {
        outline-color: #5EF5F6;
    }
    100% {
        outline-color: #09C6DB;
    }
}