.shine-hover {
  position: relative;
  overflow: hidden;
}

.shine-hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(120deg, transparent, rgba(255,255,255,0.6), transparent);
  transform: skewX(-20deg);
  transition: left 1s ease-in-out;
}

.shine-hover:hover::before {
  left: 100%;
}
