body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    cursor: none;
}

/* Sidebar styles */
.sidebar {
    width: 10.5%;
    display: flex;
    flex-direction: column;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    align-items: center;
    background: transparent;
}

/* Sidebar Items */
.sidebar-item {
    width: 100%;
    padding: 3%;
    margin: 0;
    background-color: #fafafa;
    text-align: center;
    font-size: 2em;
    transition: background-color 0.3s, transform 0.3s;
    color: #3f3f3f;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    border-bottom: 2px solid #dedede;
    position: relative;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -moz-window-dragging: no-drag;
    text-decoration: none;
    cursor: none;
}

.sidebar-item img {
    width: 25%;
    height: auto;
    margin-bottom: 12%;
    pointer-events: none;
}

/* Move text down */
.sidebar-item span {
    margin-top: 3%;
}

.sidebar-item:hover {
    background-color: #CBF8FE;
}

.sidebar-item.selected {
    color: #F57C00;
}

.sidebar-item:first-child {
    border-radius: 0px 35% 0 0;
}

.sidebar-item:last-child {
    border-radius: 0 0 35% 0px;
    background-image: linear-gradient(to right, #545454, #323232);
    color: #fafafa;
    border-bottom: none;
}

.sidebar-item:last-child:hover {
    background-image: linear-gradient(to right, #325c63, #323232);
}

.sidebar-item.active {
    background-color: #F57C00;
}

.content {
    background-color: white;
    flex-grow: 1;
    padding: 2%;
    margin-left: 16%;
    width: calc(100% - 16%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    /* Styles for the header section, including title, search bar, icons */
}

.nav-bar {
    /* Styles for the navigation bar */
}

.games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2%; /* Add margin top for spacing after the header */
}

.game {
    width: 30%;
    height: 60%;
    margin: 2%;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -moz-window-dragging: no-drag;
    text-decoration: none;
    cursor: none;
}

.game:hover {
    background-color: #CBF8FE;
}

.game img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -moz-window-dragging: no-drag;
    text-decoration: none;
    cursor: none;
}

.game h2 {
    margin-top: 10px;
    font-size: 1.5em;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -moz-window-dragging: no-drag;
    text-decoration: none;
    cursor: none;
}

.game-details {
    /* Styles for additional game information like price and DLC */
}

/* CSS for the custom cursor */
.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
}

/* Style the cursor shape */
.cursor-inner {
    width: 20px;
    height: 20px;
    background-color: orange;
    border-radius: 50%;
}

/* Style the cursor trail */
.cursor-trail {
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: orange;
    border-radius: 50%;
    opacity: 0.5;
    pointer-events: none;
    transition: opacity 0.5s ease;
}