body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    cursor: none;
}

/* Sidebar styles */
.sidebar {
    width: 235px;
    display: flex;
    flex-direction: column;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    align-items: center;
    background: transparent;
}

/* Sidebar Items */
.sidebar-item {
    width: 100%;
    padding: 15px;
    margin: 0;
    background-color: #fafafa;
    text-align: center;
    font-size: 250%;
    transition: background-color 0.3s, transform 0.3s;
    color: #3f3f3f;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    flex: 1;
    border-bottom: 2px solid #dedede;
    position: relative;
}

/* Placeholder Icon */
.sidebar-item img {
    width: 75px;
    height: auto;
    margin-bottom: 25px;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, .5));
}

/* Move text down */
.sidebar-item span {
    margin-top: 20px;
}


/* First Item (Top) */
.sidebar-item:first-child {
    border-radius: 0px 35% 0 0; /* Rounded top edges */
    color: #F57C00;
}

/* Last Item (Bottom) */
.sidebar-item:last-child {
    border-radius: 0 0 35% 0px; /* Rounded bottom edges */
    background-image: linear-gradient(to right, #545454, #323232); /* Darker grey for bottom button */
    color: #fafafa;
    border-bottom: none; /* Remove bottom border from the last item */
}

/* Optional: Active item styling */
.sidebar-item.active {
    background-color: #F57C00; /* Darker orange for active item */
}

/* Content styles */
.content {
    flex-grow: 1;
    padding: 20px;
}

/* CSS for the custom cursor */
.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none; /* Prevent the cursor from interfering with mouse events */
    z-index: 9999; /* Place the cursor above other elements */
}

/* Style the cursor shape */
.cursor-inner {
    width: 20px;
    height: 20px;
    background-color: orange; /* Set cursor color to orange */
    border-radius: 50%;
}

/* Style the cursor trail */
.cursor-trail {
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: orange; /* Set trail color to orange */
    border-radius: 50%;
    opacity: 0.5; /* Adjust trail opacity */
    pointer-events: none; /* Prevent trail from interfering with mouse events */
    transition: opacity 0.5s ease; /* Add transition effect for opacity */
}
